body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.outerContainer {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.innerContainer {
  width: 40%;
}

.thoughtHeading {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.thoughtForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: lightgray;
  border: 2px black solid;
  padding: 20px;
  height: 180px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 10px 10px;
}

.thoughtList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border: 2px black solid;
  padding: 20px;
  height: 180px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 10px 10px;
}

.thoughtTextArea {
  border: 2px grey solid;
  padding-bottom: 30px;

}

.thoughtBtn {
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 400;
  display: block;
  width: 200px;
  border-radius: 30px;
  border: none;
  color: black;
  background-color: darksalmon;
  padding: 5px;
}


.thoughtMessage {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: scroll;

}

.like-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #DDDDDD;
  margin-left: 20px;
  border: none;
}

.no-like-btn {
  border-radius: 50%;
  height: 50px;
  background-color: #FA7070;
  width: 50px;
  margin-left: 20px;
  border: none;
}

.likeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonAndCounter {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
}

.counter {
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}